.workcontainer {
    background-color: #f1f1f1 ;
    border-radius: 8px;
    padding: 25px;
}

.workcard {
    border: 3px solid #000!important;
    box-shadow: 7px 7px 0 #000!important;
    background-color: #feab3a!important;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: transform 400ms ease-in-out, box-shadow 400ms ease-in-out;
}



.customcards .customcard {
    transition: transform 400ms ease-in-out;
}

.customcards .customcard:hover { 
    transform: scale(1.05, 1.05);
}

.customcards:hover > .customcard:not(:hover) {
    filter: blur(0.8px);
    transform: scale(0.9, 0.9);
}

.workpara{
    color:#feab3a;
}

.titlefont{
    font-family: 'Roboto' !important;
    
}